{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Ajout</h1>
        </div>
        <div class="well">
            {{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
        </div>

        <a href="{{ path('admin') }}" class="btn btn-default">Retour</a>
    </div>
{% endblock %}