{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Listes des Films</h1>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>TITRE</th>
                <th>REALISATEUR</th>
                <th>SORTIE</th>
                <th>DUREE</th>
                <th>PRIX</th>
                <th>AJOUTE LE</th>
                <th></th>
            </tr>
            </thead>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }} <small>({{ movie.type }})</small></td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.date |date('d-m-Y') }}</td>
                    <td>{{ movie.during }}min</td>
                    <td>{{ movie.price }}€</td>
                    <td>{{ movie.createDate |date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('editMovie', { 'id': movie.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                        <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('addBook', { 'type': 'movie'}) }}" class="btn btn-success">Ajouter un film</a>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Listes des Livres</h1>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>TITRE</th>
                <th>AUTEUR</th>
                <th>PUBLIE</th>
                <th>PAGE</th>
                <th>PRIX</th>
                <th>AJOUTE LE</th>
                <th></th>
            </tr>
            </thead>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.date |date('d-m-Y') }}</td>
                    <td>{{ book.page }} page(s)</td>
                    <td>{{ book.price }}€</td>
                    <td>{{ book.createDate |date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('editBook', { 'id': book.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                        <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('addBook', { 'type': 'book'}) }}" class="btn btn-success">Ajouter un livre</a>
    </div>
{% endblock %}