{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ data.title }} <small>{{ data.isnb }}</small></h1>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <dl class="dl-horizontal">
                    <dt>Numéro ISNB</dt>
                    <dd>{{ data.isnb }}</dd>
                    <dt>Titre</dt>
                    <dd>{{ data.title }}</dd>
                    <dt>Auteur</dt>
                    <dd>{{ data.author }}</dd>
                    <dt>Date de publication</dt>
                    <dd>{{ data.date | date("d-m-Y") }}</dd>
                    <dt>Nombre de pages</dt>
                    <dd>{{ data.page }}</dd>
                    <dt>Prix (en €)</dt>
                    <dd>{{ data.price }}</dd>
                </dl>
            </div>

            <div class="col-md-6 col-sm-12">
                <h4>Résumé :</h4>
                <div class="well">
                    <p>{{ data.summary }}</p>
                </div>
            </div>
        </div>

        <a href="{{ path('home') }}" class="btn btn-default">Retour</a>
    </div>

{% endblock %}