{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline" action="{{ path("search") }}" method="GET">
                    <input type="text" name="sql" class="form-control" placeholder="Rechercher...">
                    <button type="submit" class="btn btn-default">Rechercher</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Les 5 derniers <small>Film DVD/Blu-Ray</small></h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for movie in movies %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ movie.title }} ({{ movie.type }})</h3>
                            <p>de {{ movie.director }}</p>
                            <p>Année : {{ movie.date|date("Y") }}</p>
                            <p><a href="{{ path('showMovie', { 'id': movie.id }) }}" class="btn btn-primary" role="button">En savoir +</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Les 5 derniers <small>Livre</small></h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for book in books %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ book.title }}</h3>
                            <p>de {{ book.author }}</p>
                            <p>Année : {{ book.date|date("Y") }}</p>
                            <p><a href="{{ path('showBook', { 'id': book.id }) }}" class="btn btn-primary" role="button">En savoir +</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
