{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Listes des Livres</h1>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>TITRE</th>
                <th>REALISATEUR</th>
                <th>SORTIE</th>
                <th>DUREE</th>
                <th>PRIX</th>
                <th>AJOUTE LE</th>
            </tr>
            </thead>
            {% for movie in movies %}
                <tr>
                    <td><a href="{{ path('showMovie', {'id' : movie.id}) }}">{{ movie.title }}</a> <small>({{ movie.type }})</small></td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.date |date('d-m-Y') }}</td>
                    <td>{{ movie.during }}min</td>
                    <td>{{ movie.price }}€</td>
                    <td>{{ movie.createDate |date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('home') }}" class="btn btn-default">Retour</a>
    </div>
{% endblock %}