{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Listes des Livres</h1>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>TITRE</th>
                <th>AUTEUR</th>
                <th>PUBLIE</th>
                <th>PAGE</th>
                <th>PRIX</th>
                <th>AJOUTE LE</th>
            </tr>
            </thead>
            {% for book in books %}
                <tr>
                    <td><a href="{{ path('showBook', {'id' : book.id}) }}">{{ book.title }}</a></td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.date |date('d-m-Y') }}</td>
                    <td>{{ book.page }} page(s)</td>
                    <td>{{ book.price }}€</td>
                    <td>{{ book.createDate |date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('home') }}" class="btn btn-default">Retour</a>
    </div>
{% endblock %}