{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ data.title }} <small>({{ data.type }})</small></h1>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <dl class="dl-horizontal">
                    <dt>Numéro ISAN</dt>
                    <dd>{{ data.isan }}</dd>
                    <dt>Titre</dt>
                    <dd>{{ data.title }}</dd>
                    <dt>Type</dt>
                    <dd>{{ data.type }}</dd>
                    <dt>Réalisateur/trice</dt>
                    <dd>{{ data.director }}</dd>
                    <dt>Date de sortie</dt>
                    <dd>{{ data.date | date("d-m-Y") }}</dd>
                    <dt>Durée (en min)</dt>
                    <dd>{{ data.during }}</dd>
                    <dt>Prix (en €)</dt>
                    <dd>{{ data.price }}</dd>
                    <dt>Listes des acteurs</dt>
                    <dd>{{ data.actors }}</dd>
                </dl>
            </div>

            <div class="col-md-6 col-sm-12">
                <h4>Résumé :</h4>
                <div class="well">
                    <p>{{ data.summary }}</p>
                </div>
            </div>
        </div>

        <a href="{{ path('home') }}" class="btn btn-default">Retour</a>
    </div>
{% endblock %}