{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Numéro ISAN/ISNB</th>
                <th>Auteur/Réalisateur</th>
                <th>Ajouté le</th>
            </tr>
            {% for article_array_ou_string in all %}
                {% if article_array_ou_string is iterable %}
                    {% set row = article_array_ou_string[0]  %}
                {% else %}
                    {% set row = article_array_ou_string  %}
                {% endif %}

                {% set type     = row.isnb is defined ? "Livre"  : "DVD/Blu-Ray" %}
                {% set num      = row.isnb is defined ? row.isnb : row.isan %}
                {% set proprio  = row.isnb is defined ? row.author : row.director %}
                {% set url      = row.isnb is defined ? path('showBook', {'id': row.id}) : path('showMovie', {'id': row.id}) %}

                <tr>
                    <td><a href="{{ url }}">{{ row.title }}</a></td>
                    <td>{{ type }}</td>
                    <td>{{ num }}</td>
                    <td>{{ proprio }}</td>
                    <td>{{ row.createDate | date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(all) }}
        </div>

        <a href="{{ path('home') }}" class="btn btn-default">Retour</a>
    </div>
{% endblock %}